node_modules
.next
.git
.gitignore
*.log
*.tsbuildinfo
.env
.env.*
docker-compose*.yml
Dockerfile*
*.MD
*.md
public/YII/**
!public/YII/yang-main/
!public/YII/yang-main/backend/
public/YII/yang-main/backend/**
!public/YII/yang-main/backend/web/
public/YII/yang-main/backend/web/**
!public/YII/yang-main/backend/web/uploads/
!public/YII/yang-main/backend/web/uploads/**
!public/YII/yang-main/frontend/
public/YII/yang-main/frontend/**
!public/YII/yang-main/frontend/web/
public/YII/yang-main/frontend/web/**
!public/YII/yang-main/frontend/web/uploads/
!public/YII/yang-main/frontend/web/uploads/**
